.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.name-container {
  margin: 2% 34%;
  width: 30%;
  border: 1px solid black;
  border-radius: 10px;
}

.billing-container {
  margin: 2% 34%;
  width: 30%;
  border: 1px solid black;
  border-radius: 10px;
  background: #97A4B0;
  padding-bottom: 10px;
}

.list {
  line-height: 0.8;
}

.nav-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #97A4B0;
}

.nav-bar > a {
  text-decoration: none;
  color: #ffffff;
}

.links {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;

}

.timer-btns {
  width: 100%;
}

.focus-btn {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 18px;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  background: #97A4B0;
}

.start-btn {
  margin-top: 20px;
  font-size: 18px;
  width: 80px;
  height: 35px;
  border-radius: 5px;
}

.modal-btn {
 margin-top: 30px;
 margin-left: 45.5%;
}

.change-email {
  margin: 2% 33.5%;
  width: 30%;
  border: 1px solid black;
  padding: 2%;
}

.form-btn {
  margin-top: 15px;
}

@media(max-width: 650px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .links {
    margin-left: 0;
    margin-bottom: 15px;
    border-top: 1px solid black;
    width: 100%;
  }

  .timer-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .focus-btn {
    margin: 3%;
    width: 94%;
  }

  .start-btn {
   margin: 3%;
   width: 94%;
   height: 50px;
  }

  .Modal {
    display: flex;
    flex-direction: column;
  }

  .modal-btn {
    width: 94%;
    margin: 3%;
    height: 50px;
  }

  .billing-container {
    margin-left: 3%;
    width: 94%;
  }

  .list {
    line-height: 1.5;
  }

  .change-email {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 3%;
    width: 94%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5%;
  }

  .form-btn {
    margin-top: 15px;
  }
}